.add-page {
  min-height: 90vh;
  display: grid;
  place-items: center;
}
.container {
  width: 70vw;
  max-width: 700px;
  box-shadow: 0 0 40px rgb(25, 142, 10);
  padding: 25px;

  form {
    display: grid;
    gap: 20px;
    margin-top: 20px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    div {
      display: flex;
      flex-direction: column;

      input,
      select {
        padding: 10px 15px;
        margin-top: 5px;
        border-radius: 5px;
        font-family: "poppins";
      }
    }
  }
}

.btn-wrapper {
  display: flex;
  justify-content: end;
}

button {
  background-color: rgb(25, 142, 10);
  color: black;
  border-radius: 10px;
  font-size: 17px;
  font-weight: 700;
  padding: 10px 8px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border: 1px solid black;
  box-shadow: 0 0 0 0 black;
}

button {
  transform: translateY(-4px) translateX(-2px);
  box-shadow: 2px 5px 0 0 black;
}

button:active {
  transform: translateY(2px) translateX(1px);
  box-shadow: 0 0 0 0 black;
}

//* filter
.filter-sec {
  @extend .container;
  margin: 30px auto 80px;

  .wrapper {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  .btnA {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
  }
}
